input.active:valid {
  box-shadow: 0 0 5px 1px green;
}

input.active:invalid {
  box-shadow: 0 0 5px 1px red;
}
textarea.valid {
  box-shadow: 0 0 5px 1px green;
}
textarea.invalid {
  box-shadow: 0 0 5px 1px red;
}
.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
.note {
  color: gray;
  margin: 8px 0;
}
.top-buffer {
  margin-top: 15px;
}

.form-center {
  margin-left: auto;
  margin-right: auto;
  min-width: 20%;
  max-width: 30%;
  margin-top: 200px;
}

.info {
  padding-left: 0px !important;
}

